{{page-title "Destination"}}
<div class="d-flex flex-column flex-md-row align-items-center mb-4">
  <div class="flex-grow-1 text-center text-md-start mb-3 mb-md-0">
    <h1 class="fs-1 text-dark title mb-3">
      Where is your destination?
    </h1>
  </div>
</div>
<div class="map-container animate__animated animate__fadeIn animate__slow" style="border-radius: 10px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <GoogleMapsJs @onPlaceChange={{this.updateDestination}} @searchNearby={{false}}/>
</div>
<div class="level">
  <div class="level-item">
    <LinkTo class="w-100" @route="index">
      <button
        class="btn w-100 py-2"
        type="button"
        style="background-color: #235725; color: #000; font-size: 1.25rem; font-weight: bold; transition: transform 0.2s, background-color 0.3s;"
        {{on "click" this.cancel}}>
        Cancel
      </button>
    </LinkTo>

  </div>
  <div class="level-item">
    <button
      class="btn w-100 py-2"
      type="button"
      style="background-color: #F1DCA7; color: #000; font-size: 1.25rem; font-weight: bold; transition: transform 0.2s, background-color 0.3s;"
      {{on "click" this.validateAndNavigate}}>
      Next <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>
