{{page-title "Edit Trip"}}

<div class="container mt-4" {{did-insert this.initializeFields}}>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-3 title" style="color: #333; font-weight: bold;">
        Edit Trip
      </h1>
    </div>
  </div>

  <form {{on "submit" this.saveChanges}}>
    <div class="mb-4">
      <label class="form-label" style="color: #333; font-weight: bold;">Destination</label>
      <div class="map-container mt-3 shadow-sm" style="border-radius: 8px;">
        <GoogleMapsJs 
          @onPlaceChange={{this.updateDestination}} 
          @defaultLocation={{this.destination}}
        />
      </div>
    </div>

    <div class="mb-4">
      <label class="form-label" style="color: #333; font-weight: bold;">Dates</label>
      <Litepicker
        class="custom-litepicker shadow-sm"
        @singleMode={{false}}
        @startDate={{this.startDate}}
        @endDate={{this.endDate}}
        @registerAPI={{this.registerAPI}}
        @onSelected={{this.onDateChanged}}
        @plugins={{array 'keyboardnav' 'mobilefriendly'}}
        style="border-radius: 8px;"
      />
    </div>

    <button 
      type="submit" 
      class="btn btn-success w-100 py-2"
      style="font-size: 1.25rem; font-weight: bold; border-radius: 8px; transition: transform 0.2s ease, background-color 0.3s;">
      Save Changes
    </button>
  </form>
</div>
